:root {
  --theme-color-blue: #4caaba;
  --theme-color-gray: #393e46;
}

.theme-color-blue {
  color: var(--theme-color-blue);
}

.theme-color-gray {
  color: var(--theme-color-gray);
}

.theme-bg-color-blue {
  background-color: var(--theme-color-blue);
}

.theme-bg-color-gray {
  background-color: var(--theme-color-gray);
}

.flash-message {
  animation: slide-in-right 1s ease-out both;
}

.flash-message input:checked ~ * {
  animation: fade-out-right 1s ease-in both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
