{% extends "_base.html" %}
{% block main %}
<div class="text-center">
    <div class="my-48">
        <h1 class="text-4xl theme-color-gray font-bold m-8"> Registration of equipment and books. </h1>
        <form action="/search" method="get">
            <label class="block mx-2" for="query"> Enter one of the following keywords:
               <span class="text-sm font-light">keyword, ISBN code, or ASIN code.</span>
            </label>
            <input type="text" name="query" id="query" placeholder="サーカスTC" class="mt-5 px-2 py-2 w-11/12 lg:w-2/5 border-solid border-2 border-gray-500 rounded-md" />
            <input type="submit" value="Search" class="ml-2 mt-5 px-5 py-2 theme-bg-color-blue rounded-full cursor-pointer" />
        </form>
    </div>
</div>
{% endblock %}
