{% extends "_base.html" %} {% block main %}
<div>
    <form action="/register_airtable" method="post">
        <h1>Registration details</h1>
        <div>
            <image src="{{ product.images.large }}" alt="image of {{ product.title }}" />
            <label for="image_url"></label>
            <input type="hidden" name="image_url" id="image_url" value="{{ product.images.large }}" />
        </div>
        <div>
            <label for="title_id">Title:</label>
            <input type="text" name="title" id="title_id" value="{{ product.title }}" />
        </div>
        <div>
            <a href="{{ product.url }}" class="no-underline ...">View on Amazon</a>
            <input type="hidden" name="url" id="url" value="{{ product.url }}" />
        </div>
        <div>
            <label for="asin">ASIN Code:</label>
            <input type="text" name="asin" id="asin" value="{{ product.asin }}" />
        </div>
        <div>
            <label for="manufacturer">Manufacturer:</label>
            <input type="text" name="manufacturer" id="manufacturer" value="{{ product.info.manufacturer }}" />
        </div>
        <div>
            <label for="contributors">Contributors:</label>
            <input type="text" name="contributors" id="contributors" value="{{ product.info.contributors }}" />
        </div>
        <div>
            <label for="publication_date">Publication_date:</label>
            <input type="text" name="publication_date" id="publication_date" value="{{ product.info.publication_date }}" />
        </div>
        <div>
            <label for="product_group">Product_group:</label>
            <input type="text" name="product_group" id="product_group" value="{{ product.info.product_group }}" />
        </div>
        <div>
            <p>Registrants_name:</p>
            <select name="registrants_name">
        <option value="yusuke-sforzando">yusuke-sforzando</option>
        <option value="tomoya-sforzando">tomoya-sforzando</option>
        <option value="shin-sforzando">shin-sforzando</option>
      </select>
        </div>
        <div>
            <p>Default positions:</p>
            <select name="default_positions">
        <p>Default_positions:</p>
        <option value="sforzando-kawasaki">sforzando Kawasaki</option>
        <option value="yusuke-house">yusuke house</option>
        <option value="tomoya-house">tomoya house</option>
        <option value="shin-house">shin house</option>
      </select>
        </div>
        <p>Current positions:</p>
        <select name="current_positions">
      <option value="sforzando-kawasaki">sforzando Kawasaki</option>
      <option value="yusuke-house">yusuke house</option>
      <option value="tomoya-house">tomoya house</option>
      <option value="shin-house">shin house</option>
    </select>
</div>
<div>
    <p>Registered at: {{ VALUE_OF_REGISTERED_AT }}</p>
</div>
<div>
    <label for="note_id">Note: </label>
    <input type="text" name="note" id="note_id" placeholder="Free description section is...">
</div>
<div>
    <label for="features">Features:</label>
    <input type="text" name="features" id="features" value="{{ product.product.features }}">
</div>
<div>
    <input type="button" value="Cancel" onClick="history.back()" />
    <input type="submit" value="Register" />
</div>
</form>
</div> {% endblock %}