{% extends "_base.html" %}
{% block main %}
<label>
  <p>product_product</p>
</label>
<h1>登録内容詳細</h1>
<div>
  <image src="{{ product.images.large }}" alt="image of {{ product.title }}" />
  <h2>{{ product.title }}</h2>
  <form action="/registration-products" method="get">
    <p>URL: {{ product.url }}</p>
    <p>ASINコード: {{ product.asin }}</p>
    <p>製造元: {{ product.info.manufacturer }}</p>
    <p>著者: {{ product.info.contributors }}</p>
    <p>発売日: {{ product.info.publication_date }}</p>
    <p>カテゴリ: {{ product.info.product_group }}</p>
    <p>保管場所: </p>
    <p>登録者:</p>
    <p>登録日: {{ product.registered_at }}</p>
    <p>個数: </p>
    <p>説明: {{ product.product.features }}</p>
    <p>備考: {{ product.note }}</p>

  </form>
</div>
{% endblock %}
