{% extends "_base.html" %}
{% block main %}
<h1 class="text-3xl theme-color-gray font-bold m-2 text-center">Search Result</h1>
{% if not message %}
<div class="text-xl theme-color-gray font-bold m-2 text-center">
    <p>Keyword: {{ keyword }}</p>
    <p>Item Hits: {{ product_list|count }}</p>
    <input class="cursor-pointer ml-2 mt-5 px-10 py-2 theme-bg-color-blue rounded-full" type="button" value="Change keyword" onClick="history.back()" />

</div>
{% endif %}
{% for product in product_list %}
<div class="border-b-2 border-fuchsia-600">
    <div>
        <image class="mx-auto h-64" src="{{ product.images.large }}" alt="image of {{ product.title }}" />
    </div>
    <div class="text-center">
        <h2 class="theme-color-gray">Title: {{ product.title }}</h2>
        <form action="/registration" method="post">
            <input type="hidden" name="asin" value="{{ product.asin }}" />
            <button class="cursor-pointer ml-2 mt-5 px-10 py-2 theme-bg-color-blue rounded-full">Select</button>
        </form>
    </div>
</div>
{%- endfor %}
{% endblock %}
